*{
    margin: 0;
    padding: 0;
    
}

.Evnts{
    display: block;
    padding: 0;
}



.Events{
    height: 50vh;
    width: 100%;
    background-image: url(../images/events\ background.jpg);
  
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.Events h1{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cybt img{
    width: 20%;
    margin-left: 300px;
    padding: 20px;

}


.Cybertech{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shrt img{
    width: 40%;
    margin-left: 230px;
    padding: 20px;
}

.Short-courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}