
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Noto serif;
}

h1{
    color:blue
}
h2,h3{
    color: blueviolet;
}
    
p{
    color: black;
}
    
  
section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*Navigation */
.nav-links {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
  }
  
  .nav-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.4rem;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    min-width: 700px;
    z-index: 100;
  }
  
  .nav-icon {
    display: none;
  }
  
  .mobile-nav-links {
    display: none;
  }
  
  .logo {
    width: 20%;
  }
  
  .logo img {
    width: 15em;
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    gap: 2em;
    width: -60%;
    padding: 0.7rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: rgb(255, 196, 0);
  }
  
  .nav-icon {
    display: none;
  }
  
  .mobile-nav-links {
    display: none;
  }
  
  .logo {
    width: 20%;
  }
  
  .logo img {
    width: 15em;
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 2em;
    width: -60%;
    padding: 0.7rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: rgb(180, 140, 9);
  }
/* Home */

#home{
background-image:url("../images/Home\ background.png");
/* filter: brightness(60%) grayscale(40%); */
width: 100%;
height: 100vh;
position :relative;
border-radius: 20px;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding-top: 50px;
}

#home h2{
    color:black;
    font-size: 3rem;
    font-weight: 700;
    display: block;
    position: absolute;
    margin-top: 1rem;
    padding-top:5rem ;

}
.courses{
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.courses-link{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-bottom: 1em;
    
    
}

#events{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}



.courses .courses-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.courses h1,p{
    display: flex;
    justify-content: center;
    align-items: center;


}

.short-courses img{
 display: flex;
padding-left: 12vw;
}

.progs {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 1.3rem;
  }

  .prog {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    flex: 1;
    background-color: white;
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    cursor: pointer;
  }

  .prog-info p {
    color: black;
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 13px;
  }

  .prog-info {
    font-size: 16px;
    padding: 0.9em;
    flex: 1;
  }

  .prog-title {
    font-size: 13px;
    padding: 0.5em;
    flex: 1;
    display: flex;
    align-items: center;
  }

  .prog-title h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  /* Footer style */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: left;
  background-color: #033b55;
  color: white;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.footer-rw-1 {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  padding: 2.5rem;
  gap: 2.5rem;
}

.footer-rw-col {
  display: flex;
  flex-direction: column;
  flex: wrap;
}

.col-links-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.col-links-container a{
  text-decoration: none;
  cursor: pointer;
}

.col-links-container a:hover{
  color: white;
}

.col-tile h3 {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: default;
  margin-top: 0;
}

.copy {
  background-color: #f7ad19;
  align-self: stretch;
  margin-top: 2.5rem;
}

.copy-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}

.copy-text-container p{
  cursor: default;
  color: #05375c;
}

.newsletter p{
  font-weight: normal !important;
  font-size: 1.3rem;
  color: lightgray;
}

.newsletter form{
  display: flex;
  flex-direction: row;
  gap: 0;
}

.newsletter input{
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  padding: 0.8rem;
  width: 20rem;
}

.newsletter input:focus{
  outline: none;
  font-size: 1.1rem;
}

.newsletter input::placeholder{
  font-size: 1rem;
}


.newsletter button{
  border-radius: 0 0.5rem 0.5rem 0;
  border: none;
  padding: 0.8rem;
  background-color: #f7ad19;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.rw-2 {
  display: flex;
  justify-content: space-between;
  align-self:stretch ;
  gap: 1.4rem;
  padding: 2.5rem;
  /* padding: 1rem 1rem 4.5rem 4.5rem; */
  /* margin: 0 auto; */
}

.rw-2 .footer-rw-col .col-tile h3{
  margin-bottom: 0;
}